.skills {
  width: 100%;
}
.skills > .flex {
  width: 100%;
}
.html {
  color: rgba(243, 236, 27, 0.908);
}
.css {
  color: blue;
}
.react {
  color: #496bbb;
}
.github {
  color: rgb(243, 235, 235);
}

.bootstrap {
  color: rgb(41, 41, 171);
}
.js {
  color: rgb(240, 240, 96);
}
.node {
  color: rgba(100, 196, 55, 0.66);
}
.jira {
  color: rgb(64, 132, 234);
}
.redux {
  color: rgb(30, 154, 188);
}
.trello {
  color: blue;
}
.figma {
  color: white;
}
.aws {
  color: aliceblue;
}
