.skills {
  width: 90%;
}
.skills > .flex {
  width: 100%;
}
.html {
  color: orange;
}
.css {
  color: blue;
}
.react {
  color: #496bbb;
}
.github {
  color: rgb(243, 235, 235);
}

.bootstrap {
  color: rgb(41, 41, 171);
}
.js {
  color: rgb(240, 240, 96);
}
.node {
  color: rgba(100, 196, 55, 0.66);
}
